<h3>My Files</h3>
<div style="text-align: right;">
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" (click)="refreshInfo()">
        <i class="material-icons">cached</i>
    </button>
</div>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">Type</th>
			<th class="mdl-data-table__cell--non-numeric">Name</th>
			<th>Size</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let file of files; let i=index">
			<td>{{i + 1}}</td>
            <td class="mdl-data-table__cell--non-numeric">
				<span *ngIf="file.file">File</span>
				<span *ngIf="!file.file">Folder</span>
			</td>
			<td class="mdl-data-table__cell--non-numeric">
                <a href={{file.webUrl}} target="_blank">{{file.name}}</a>
            </td>
			<td>{{file.size}}</td>
		</tr>
	</tbody>
</table>